.block {
    background: -webkit-linear-gradient(45deg, rgb(134, 240, 94) 10%, rgb(116, 196, 225) 90%);
    background: -moz-linear-gradient(45deg, rgb(134, 240, 94) 10%, rgb(116, 196, 225) 90%);
    background: linear-gradient(45deg, rgb(134, 240, 94) 10%, rgb(116, 196, 225) 90%);
    box-sizing: border-box;
    height: 230px;
    width: 240px;
    display: inline-block;
    margin: 8px 8px;
    border-radius: 25px;
    box-shadow: inset 1px 0px 7px 4px #22a8b2;
    text-shadow: 5px -3px 16px #111 ;
}

.text {
    text-align: left;
    padding: 20px;
    margin-top: -20px;
}

.h2 {
    margin-top: 20px;
}

.window {

    width: 1000px;
    height: 600px;
    overflow: auto;
    border: solid 2px;
    border-radius: 30px 0px 0px 30px;
    background: #f2e3ff;
}