@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter28pt-Regular.woff2') format('woff2'),
         url('../fonts/Inter28pt-Regular.woff') format('woff'),
         url('../fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter28pt-Medium.woff2') format('woff2'),
         url('../fonts/Inter28pt-Medium.woff') format('woff'),
         url('../fonts/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Readex Pro';
    src: url('../fonts/ReadexPro-Regular.woff2') format('woff2'),
         url('../fonts/ReadexPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Readex Pro';
    src: url('../fonts/ReadexPro-Medium.woff2') format('woff2'),
         url('../fonts/ReadexPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Readex Pro';
    src: url('../fonts/ReadexPro-Medium.woff2') format('woff2'),
         url('../fonts/ReadexPro-Medium.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
